#vs
/.vscode/**
*code-workspace

#pyc's
*/__pycache__/**
*pyc

#pycharm
/.idea/**

#pip
pip-selfcheck.json

#venv
.git/**
Lib/**
Scripts/**
Include/**
pyvenv.cfg

#windows
Thumbs.db

#outputs
*pdf
*jpeg