{% extends "layout.html" %}
{% block content %}
    <style type="text/css">
        .container{
            border: 3px solid green;
        }
        .top{}
        .left{}
        .right{}
        .bottom{}
        .item{
            position: relative
        }
    </style>
    <div class="container top item">
        <p><a href="">Menu</a> ------ <a href="">Config</a> --- <a href="">Report</a> --- <a href="">Help</a></p>
    </div>
    <div class="container left">
        <div class="container top" id="chart-interface">
            {% include 'files.html' %}
        </div>
        <div class="container bottom">
            <div>
                <input multiple type="file" id="load">​
            </div>
            <div>
                <span><a href="">Preview Report</a> --- <a href="">Report</a></span>
            </div>
        </div>
    </div>
    <div class="container right" id="plot-interface">
        {% include 'plot.html' %}
    </div>
{% endblock %}