        <div id="plot">
            <div id="plot-title">{{ chartTitle }}</div>
            <div id="plot-image">
                <img alt="{{ chartType }}: {{ chartTitle }}" src="{{ plotUrl }}">
            </div>
            <div id="plot-legend"></div>
        </div>
        <div id="plot-controls">
            <div>
                <p>Show signals</p>
            </div>
            <div>
                <span>Issues --- <a href="">Next Chart</a>/<a href="">Previous</a></span>
            </div>
        </div>